
body {
	font-size: 13px;
	line-height: 24px;
	color: #000000;
	font-weight: 400;
	font-family: "PT Sans", Arial, Helvetica, sans-serif;

}
.slider-name {
	font-size: 36px;
	line-height: 30px;
	color: #ffffff;
	font-weight: 700;
	font-family: Cuprum, Arial, Verdana, sans-serif;
	
}
.section-header {
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	font-weight: 400;
	font-family: Cuprum, Arial, Verdana, sans-serif;
}


.goods-name {
	font-size: 18px;
	line-height: 20px;
	color: #000000;
	font-weight: 700;
	font-family: "PT Sans",  Arial, Helvetica, sans-serif;
}


